<!--
___location.html___
Main location tracking webpage. 
Gets users location and sends a form containing that information to app.py every 5 minutes.
-->

<!DOCTYPE html>
<html>
<head>
    <title>Location</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <!-- Redirect banner. Provides links to other locations on the website based on whether the user is logged in-->
    <ul>
        {% if current_user.is_anonymous %}
            <li><a href="/display">Display</a></li>
            <li style="float:right"><a class="active" href="/login">Log in</a></li>
        {% else %}
            <li><a href="/">Home</a></li>
            <li><a href="/display">Display</a></li>
            <li><a href="/report">Reporting</a></li>
            <li style="float:right"><a class="active" href="/logout">Log out</a></li>
        {% endif %}
    </ul>

    <!--
    Headers and User Information
    Contains the date/time and location
    -->
    <h1>Covid-19 Mobile Data Tracking</h1>
    <p>Date/Time: <span id="datetime"></span></p>
    <p>Click the button to get your coordinates.</p>

    <button id="get" onclick="getLocation()">Find Location</button>
    <button id="send" onclick="SendLocation()">Send Location</button>

    <p id="demo"></p>
    <!--
    form declaration - sends information from location.html to app.py to create or update an entry in user_info
    contains lat, long, date, time
    username obtained through login system
    -->
    <form id="location" action="/send_location" method="POST">
        <input type="hidden" id="lat" name="lat" value="null"><br>
        <input type="hidden" id="lng" name="lng" value="null"><br>
        <input type="hidden" id="_date" name="date" value="null"><br>
        <input type="hidden" id="time" name="time" value="null"><br>
    </form>

<script>
////////////////////////////////////////
//         Javascript Section
////////////////////////////////////////

// Assign HTML Elements to variables
var out = document.getElementById("demo");
var sendButton = document.getElementById("send");
var locationForm = document.getElementById("location");
var lat = document.getElementById("lat");
var lng = document.getElementById("lng");
var dt = new Date();
var time = document.getElementById("time");
var _date = document.getElementById("_date");

document.getElementById("datetime").innerHTML = dt.toLocaleString();

// conversion of date and time from datetime object to string
// src https://www.w3schools.com/jsref/jsref_obj_date.asp


////////////////////////////////////////
//        Date/Time Conversion
////////////////////////////////////////

// date conversion to string
var dd = String(dt.getDate()).padStart(2, '0');
var mm = String(dt.getMonth()+1).padStart(2, '0');
var yyyy = dt.getFullYear();
_date.value = yyyy + "-" + mm + "-" + dd;

// time conversion to string
time.value = timeToString(dt);

if(out.value == undefined){ // If we have not gotten a latitude or longitude
    sendButton.disabled = true; // Disable the send button so null data can't be sent
}

////////////////////////////////////////
//         Lat/Long Functions
////////////////////////////////////////

// get location uses the geolocation module of html to find the user's location. Uses helper function showPosition
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        out.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    // Updates the form values with latitude and longitude
    lat.value = position.coords.latitude;
    lng.value = position.coords.longitude;
    out.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    sendButton.disabled = false; // User can now submit their location data
}

if ("geolocation" in navigator) {
    // automatically updates time/date/location after five minutes then sends it to the python file app.py
    getLocation();
    setTimeout(function(){SendLocation()},300000);
} else {
    console.log("location could not be found");
}

function SendLocation() {
    // gets an updated date, time, and location
    getLocation();
    dt = new Date();
    // time conversion to string
    time.value = timeToString(dt);

    sendButton.disabled = true;
    out.innerHTML = "Information Sent"; // If sent, the page is being returned to
    //sends information form the html file to the python file app.py
    locationForm.submit();
}

////////////////////////////////////////
//          Helper Function
////////////////////////////////////////

function timeToString(dt){
    var hours = String(dt.getHours()).padStart(2,'0');
    var minutes = String(dt.getMinutes()).padStart(2,'0');
    var seconds = String(dt.getSeconds()).padStart(2,'0');
    return hours + ":" + minutes + ":" + seconds;
}
</script>
</body>
</html>