<!--
___location.html___
Main location tracking webpage. 
Gets users location and sends a form containing that information to app.py every 5 minutes.
-->

<!DOCTYPE html>
<html>
<body>

<h1>Covid-19 Mobile Data Tracking</h1>
<p>Date/Time: <span id="datetime"></span></p>
<p>Click the button to get your coordinates.</p>

<button id="get" onclick="getLocation()">Find Location</button>
<button id="send" onclick="SendLocation()">Send Location</button>

<p id="demo"></p>

<form id="location" action="/send_location" method="POST">
    <input type="hidden" id="lat" name="lat" value="null"><br>
    <input type="hidden" id="lng" name="lng" value="null"><br>
    <input type="hidden" id="_date" name="date" value="null"><br>
    <input type="hidden" id="time" name="time" value="null"><br>
</form>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

<script>

// Get HTML elements for use later
var out = document.getElementById("demo");
var sendButton = document.getElementById("send");
var locationForm = document.getElementById("location");
var lat = document.getElementById("lat");
var lng = document.getElementById("lng");
var dt = new Date();
var time = document.getElementById("time");
var _date = document.getElementById("_date");

document.getElementById("datetime").innerHTML = dt.toLocaleString();

// conversion of date and time to preferred representations
// src https://www.w3schools.com/jsref/jsref_obj_date.asp
var dd = String(dt.getDate()).padStart(2, '0');
var mm = String(dt.getMonth()+1).padStart(2, '0');
yyyy = dt.getFullYear();
_date.value = yyyy + "-" + mm + "-" + dd;


var hours = String(dt.getHours()).padStart(2,'0');
var minutes = String(dt.getMinutes()).padStart(2,'0');
var seconds = String(dt.getSeconds()).padStart(2,'0');
time.value = hours + ":" + minutes + ":" + seconds;

if(out.value == undefined){ // If we have not gotten a latitude or longitude
    sendButton.disabled = true; // Disable the send button so null data can't be sent
}

// simple get location program that calls show location child function
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        out.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    // Updates the form values with latitude and longitude
    lat.value = position.coords.latitude;
    lng.value = position.coords.longitude;
    out.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    sendButton.disabled = false; // User can now submit their location data
}

if ("geolocation" in navigator) {
    // automatically updates time/date/location after five minutes then sends it to the python file app.py
    getLocation();
    setTimeout(function(){SendLocation()},300000);
} else {
    console.log("location could not be found");
}

function SendLocation() {
    // gets an updated date, time, and location
    getLocation();
    dt = new Date();
    hours = String(dt.getHours()).padStart(2,'0');
    minutes = String(dt.getMinutes()).padStart(2,'0');
    seconds = String(dt.getSeconds()).padStart(2,'0');
    time.value = hours + ":" + minutes + ":" + seconds;


    sendButton.disabled = true;
    out.innerHTML = "Information Sent"; // If sent, the page is being returned to
    //sends information form the html file to the python file app.py
    locationForm.submit();
}
</script>
<p><a href='/report'>report sickness here!,</a></p>
<p><a href='/display'>find past locations here!</a></p>
<p><a href='/logout'>click here to log out,</a></p>

</body>
</html>